@model BLL.DTO.CountryIndexViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Країни</h2>

<p>
    @Html.ActionLink("Додати нову країну", "Create")
</p>

@Html.Partial("_CountriesView", Model.Countries)

@{
    string links = Html.LinksBuilder(Model.CurrentPage, Model.TotalPages, x => Url.Action("Index", "country", new
    {
        page = x
    }));
}

@Html.Raw(links)

